  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }

h1 {
  color: Black;
}

  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #FF0000; /* Red */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #000080	; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #BA55D3; /* Medium Orchid  */
    color: #000000;
  }
  .bg-4 { 
    background-color: #D2691E; /* Chocolate */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
